{% extends 'chat.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<script type="text/javascript">
    const context = {
        chatId: {{ object.id }},
        userId: {{ request.user.id }},
    }
</script>
{% endblock%}

{% block content %}

<div class="d-flex flex-column border-start border-end h-100 p-0">
    <div class="d-flex border-bottom">
        <div class="d-flex flex-grow-1 p-2">
            {% if object.private %}
                {% with other_participant=object|other_participant:request.user %}
                    {% if other_participant %}
                        {% if other_participant.image %}
                        <img src="{% get_media_prefix %}{{ other_participant.image }}" alt="" style="height:48px;width:48px;object-fit: cover;"
                            class="border rounded-circle">
                        {% endif %}
                        <span class="d-inline-flex ps-3 align-items-center"><a href="{% url 'profile' pk=other_participant.id %}">{% firstof other_participant.name other_participant.username %}</a></span>
                    {% endif %}
                {% endwith %}
            {% else %}
                {% if object.image %}
                    <img src="{% get_media_prefix %}{{ object.image }}" alt="" style="height:48px;width:48px;object-fit: cover;"
                        class="border rounded-circle">
                {% endif %}
                <span class="d-inline-flex ps-3 align-items-center">{{object.name}}</span>
            {% endif %}
        </div>
        {% if not object.private %}
        <button class="btn btn-outline-primary rounded-0" style="box-shadow: none!important;" data-bs-toggle="modal"
            data-bs-target="#infoModal">
            <i class="bi bi-info-circle-fill"></i>
        </button>
        {% endif %}
    </div>
    <div class="d-flex flex-grow-1 gap-2 px-2 pt-2 flex-column" id="chatLog"
        style="margin-top: auto !important; overflow-y: auto;">
        {% for message in messages %}
        <div href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                {% if message.author == request.user %}
                <h6 class="mb-1">Ви</h6>
                {% else %}
                <h6 class="mb-1"><a href="{% url 'profile' pk=message.author.id %}">@{{message.author.username}}</a>
                </h6>
                {% endif %}
                <small>{{message.date_created}}</small>
            </div>
            <h5 class="mb-1">{{message}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="input-group border-top flex-shrink-0">
        <input type="text" name="message" class="form-control rounded-0 border-0" placeholder="Message..."
            id="chat-message-input">
        <button class="btn btn-outline-primary border-0 rounded-0" style="box-shadow: none!important;"
            id="chat-message-submit"><i class="bi bi-send-fill"></i> Відправити</button>
    </div>
</div>

{% if not object.private %}
<div class="modal fade" tabindex="-1" id="infoModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header p-0">
                <img src="{% get_media_prefix %}{{ object.image }}" alt="" class="w-100 img-fluid"
                    style="height: 240px !important; object-fit: cover;">
            </div>
            <div class="modal-body p-0">
                <h5 class="px-2 pt-2">{{object.name}}</h5>
                <div class="p-2 border-top">
                    {{object.description}}
                </div>
            </div>
            
            <div class="modal-body p-0">
                <h5 class="px-2 pt-2">Учасники:</h5>
                <div class="p-2 border-top d-flex gap-3 flex-column">
                    {% for participant in object.participants.all %}
                    <a href="{% url 'profile' pk=participant.id %}">{{ participant.username }}</a>
                    {% endfor %}
                </div>
            </div>
            
            <div class="modal-footer p-0">
                <div class="input-group w-100 d-flex">
                    <button type="button" class="btn btn-outline-primary flex-grow-1" data-bs-dismiss="modal"
                        style="box-shadow: none!important;">Закрити</button>
                    {% if request.user == object.creator %}
                    <a class="btn btn-outline-danger" href="{% url 'chat_delete' pk=object.id %}"
                        style="box-shadow: none!important;">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="{% url 'chat_update' pk=object.id %}"
                        style="box-shadow: none!important;">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}