{% extends 'index.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="row justify-content-md-center">
    <div class="card col-md-5">
        <div class="card-body">
            <h5 class="card-title">Deletion confirmation</h5>
            <p>Are you sure you want to delete "{{obj}}"</p>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Yes</button>
                <button type="button" class="btn btn-primary" onclick="history.back();">No</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}