{% extends 'index.html' %} {% block content %}

{% load crispy_forms_tags %}
<div class="justify-content-center my-3 h-100">
    <div class="card col-md h-100">
        <h5 class="card-header">Створення/редагування оголошення</h5>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row card-body">
                {% csrf_token %}
                <div class="col-lg-8 d-flex flex-column">
                    {{form.title|as_crispy_field}}
                    {{form.body|as_crispy_field}}
                </div>
                <div class="col-lg-4 d-flex flex-column">
                    {{form.image|as_crispy_field}}
                    {{form.files|as_crispy_field}}
                    {{form.pinned|as_crispy_field}}
                    <div id="div_id_title" class="mb-3 flex-grow-1">
                        <label for="id_title" class="form-label requiredField">
                            Тема<span class="asteriskField">*</span>
                        </label>
                        <input type="text" name="topic" maxlength="150" class="textinput form-control" required
                            id="id_topic" list="topics" value="{% firstof object.topic %}">
                        <datalist id="topics">
                            {% for topic in topics %}
                            <option value="{{topic.name}}">{{topic.name}}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="input-group mb-3 w-100">
                        <button type="submit" class="btn btn-outline-primary w-50"><i class="bi bi-send-fill"></i>
                            Відправити</button>
                        <button type="button" class="btn btn-secondary w-50"
                            onclick="history.back();">Повернутись</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}