{% extends 'index.html' %} {% block content %}

{% load crispy_forms_tags %}
<div class="row justify-content-md-center my-3">
    <div class="card col-md-5 shadow">
        <div class="card-body">
            <h5 class="card-title">Реєстрація</h5>
            <form action="" method="post">
                {% csrf_token %} 
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100">Приєднатись</button>
            </form>
            <p class="pt-3">Вже є користувацький запис? Авторизуйтесь <a href="{% url 'login' %}">тут</a></p>
        </div>
    </div>
</div>
{% endblock %}