{% load static %}
{% load base_tags %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!-- <link rel="stylesheet" href="{% static 'css/themes/slate.min.css' %}"> -->
{% if request.COOKIES.theme|valid_theme %}
<link href="{% static 'css/themes/' %}{{ request.COOKIES.theme }}.min.css" rel="stylesheet">
{% else %}
<link href="{% static 'css/themes/default.min.css' %}" rel="stylesheet">
{% endif %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">