{% extends 'index.html' %} {% block content %}
{% load static %}

<div class="row">
{% for post in posts %}
    <div class="col-md-6">
        <div class="card">
            {% if post.image %}
            <img src="{% get_media_prefix %}{{ post.image }}" class="card-img-top" alt="{{post.title}} thumbnail" />
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">
                    {{post.body|slice:':50'}}
                </p>
                <a href="{% url 'detail_post' pk=post.id %}" class="btn btn-primary"><i class="bi bi-book-half"></i> Read</a>
            </div>
        </div>
    </div>
{% endfor %} 
</div>

{% endblock %}
