{% extends 'index.html' %} {% block content %}
{% load static %}
{% load base_tags %}
<div class="my-3">
    {% if not object_list %}
    <h5 class="text-center">Здається, тут нема чого дивитися 😥</h5>
    {% endif %}
    <div class="row mb-4">
    {% for post in object_list %}
        {% include 'base/items/post_card.html' with prefix='-lg-4' post=post %}
    {% endfor %}
    </div>
</div>

{% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        <i class="bi bi-caret-left-fill"><i class="bi bi-caret-left-fill"></i></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <i class="bi bi-caret-left-fill"></i>
                    </a>
                </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                    {% if page_obj.number == page_number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ page_number }}&q={{request.GET.q}}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}&q={{request.GET.q}}">
                                {{ page_number }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{request.GET.q}}">
                        <i class="bi bi-caret-right-fill"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&q={{request.GET.qq}}">
                        <i class="bi bi-caret-right-fill"><i class="bi bi-caret-right-fill"></i></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'js/post_card.js' %}"></script>
{% endblock %}