{% extends 'index.html' %} {% block content %}
{% load static %}

{% load crispy_forms_tags %}
{% load markdown_extras %}
{% load base_tags %}
<style>
    .body-bg {
        background: url("{% get_media_prefix %}{{ object.image }}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        backdrop-filter: blur(10px) brightness(40%);
    }

    .card-text > p {
        margin: 0!important;
        padding: 0 !important;
    }
</style>

<div class="card my-3 shadow-lg">
    {% if object.image %}
    <a href="{% get_media_prefix %}{{ object.image }}">
        <img src="{% get_media_prefix %}{{ object.image }}" class="card-img-top" style="max-height: 640px; object-fit: cover;">
    </a>
    {% endif %}
    <div class="card-header">
        <div>
            <a href="{% url 'profile' pk=object.author.id %}">@{{object.author.username}}</a> опублікувано
            {{object.date_edited|date}}
        </div>
        {% if object.author == request.user %}
        <div class="mt-3">
            <a href="{% url 'stats_post' pk=object.id %}"><i class="bi bi-bar-chart-fill"></i> Статистика</a>
            <a href="{% url 'update_post' pk=object.id %}"><i class="bi bi-pencil-fill"></i> Редагувати</a>
            <a href="{% url 'delete_post' pk=object.id %}"><i class="bi bi-trash-fill"></i> Видалити</a>
        </div>
        {% endif %}
        <div class="mt-3">
            <a>
                <i class="bi bi-eye"></i>
                {{ object.views.count }}
            </a>
            {% if object|is_liked:request.user %}
            <a href="{% url 'unlike_post' pk=object.id %}">
                <i class="bi bi-heart-fill"></i>
                {% firstof object.likes.count %}
            </a>
            {% else %}
            <a href="{% url 'like_post' pk=object.id %}">
                <i class="bi bi-heart"></i>
                {% firstof object.likes.count %}
            </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{object.title}}</h5>
        <div class="card-text" style="white-space: pre-line;">
            {{object.body|markdown|safe}}
        </div>
        {% if object.files %}
        <ul class="list-group list-group-flush mb-3">
            {% for file in object.files.all %}
            <li class="list-group-item">
                <i class="bi bi-paperclip"></i><a href="{% get_media_prefix %}{{file.file.name}}">{{file}}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <h5 class="card-title">Коментарі ({{comments.count}}):</h5>
        <div class="list-group" id="comments">
            {% for comment in comments %}
            <div class="list-group-item" id="comment_{{comment.id}}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{comment.body}}
                        {% if comment.author == request.user or object.author == request.user %}
                        <a href="{% url 'delete_comment' pk=comment.id %}" class="fs-6 text fst-light ms-1"><i
                                class="bi bi-trash-fill"></i>Видалити</a>
                        {% endif %}
                    </h5>

                    <small>{{comment.date_created|timesince}} тому</small>
                </div>
                <small>
                    <a href="{% url 'profile' pk=comment.author.id %}">@{{comment.author.username}}</a>
                </small>
            </div>
            {% endfor %}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="Текст коментаря..." aria-label="Текст коментаря"
                    aria-describedby="button-addon2" required name="body">
                <button class="btn btn-primary" type="submit" id="button-addon2"><i class="bi bi-chat-left-text-fill"></i> Коментувати</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}