{% extends 'index.html' %} {% block content %}
{% load static %}
{% load base_tags %}
<div class="d-flex justify-content-center m-3 row">
    <div class="card col-md-6 p-1">
        <div class="card-body">
            <div class="d-flex text-black">
                {% if object.image %}
                <div class="flex-shrink-0">
                    <img src="{% get_media_prefix %}{{ object.image }}" alt="Generic placeholder image"
                        class="img-fluid h-100" style="width: 180px; border-radius: 10px; object-fit: cover;">
                </div>
                {% endif %}
                <div class="d-flex flex-column flex-grow-1 ms-3">
                    <div class="d-flex gap-1 align-items-center">
                        <h5 class="mb-1">
                            {% firstof object.name object.username %}
                        </h5>
                        <span class="fs-6 text fs-light fst-italic text-body-secondary">
                            {% if object.is_staff %}
                            <i class="bi bi-person-badge-fill">Персонал</i>
                            {% elif object.role == 1 %}
                            Студент
                            {% elif object.role == 2 %}
                            Викладач
                            {% endif %}
                        </span>
                    </div>
                    
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef;">
                        <div class="flex-fill">
                            <p class="small text-muted mb-1">Оголошення</p>
                            <p class="mb-0">{{posts.count}}</p>
                        </div>
                        <div class="flex-fill">
                            <p class="small text-muted mb-1">Слідкують</p>
                            <p class="mb-0">{{object|followers}}</p>
                        </div>
                        <div class="flex-fill">
                            <p class="small text-muted mb-1">Слідкує</p>
                            <p class="mb-0">{{object|following}}</p>
                        </div>
                    </div>
                    <p class="mb-2 pb-1 flex-grow-1" style="color: #2b2a2a;">{{object.bio}}</p>
                    <div class="d-flex pt-1 input-group">
                        {% if request.user == object %}
                        <a class="btn btn-primary flex-grow-1" href="{% url 'update_profile' pk=user.id %}">Редагувати профіль</a>
                        {% else %}
                        <a href="{% url 'chat_with' user_id=object.id %}" class="btn btn-primary w-50">
                            <i class="bi bi-chat"></i> Чат</a>
                        {% if object|is_followed:request.user %}
                        <a href="{% url 'unfollow_user' pk=object.pk %}" class="btn btn-secondary w-50">
                            <i class="bi bi-person-fill-dash"></i> Відписатися</a>
                        {% else %}
                        <a href="{% url 'follow_user' pk=object.pk %}" class="btn btn-outline-secondary w-50">
                            <i class="bi bi-person-fill-add"></i> Підписатися</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if posts %}
<h5 class="text-center mt-3">Оголошення від {% firstof object.name object.username %}:</h5>
<div class="d-flex flex-column gap-4 mb-3">
    {% for post in posts %}
    <div class="row justify-content-md-center ">
        {% include 'base/items/post_card.html' with prefix='-md-6' post=post %}
    </div>
    {% endfor %}
</div>
{% else %}
<h5 class="text-center mt-3">Нажаль <i>{% firstof object.name object.username %}</i> ще не опублікував жодного оголошення 😔</h5>
{% endif %}

{% endblock %}